@media screen and (max-width:1200px) {
    .container {
        width: 93%;
    }

    header nav ul {
        gap: 27px;
        font-size: 14px;
    }

    #details {
        padding: 20px 20px 50px 20px;
    }


    .clip__path__up {
        clip-path: polygon(0px 100%, 0px 77%, 0px 59px, 0% 59px, 21% 37px, 49% 26px, 79% 37px, 89% 48px, 100% 60px, 100% 100%)
    }

    .clip__path__up-to-down {
        clip-path: polygon(49% 4%, 75% 3%, 100% 0, 100% 100%, 72% 96%, 50% 96%, 26% 97%, 0 100%, 0 0, 22% 3%);
        ;
    }
}

@media screen and (max-width:992px) {
    header nav {
        width: 100%;
    }

    header .container {
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        background: #fff;
        gap: 0px;

    }

    header nav ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #9b9b9b2e;
        padding: 10px;
        font-size: 15px;
    }

    #label_menu {
        display: block;
        cursor: pointer;
    }

    header nav {
        position: absolute;
        top: -100%;
        left: 0;
        transform: translateY(72px);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease all;
        height: 0;
        display: block;
        gap: 0;
        /* 
        transition: 0.4s ease all;
        opacity: 0; */
    }

    #menu:checked~nav {
        opacity: 1;
        top: 0;
        visibility: visible;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        /* 
        opacity: 1; */
    }

    .footer__details ul {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {

    .text {
        font-size: 16px;
    }


    .swiper-button-prev,
    .swiper-button-next {
        width: 36px;
        height: 36px;
    }

    .button-prev::after {
        font-size: 14px;
    }

    .hero__details p {
        font-size: 16px;
    }

    .about,
    .mission,
    .vision,
    #single__project {
        justify-content: center;
    }

    .about-img,
    .mission-img,
    .vision-img,
    .single__project__img {
        width: 80%;
    }

    .about-details,
    .mission-details,
    .vision-details,
    .single__project__details {
        width: 85%;
        text-align: center;
        margin-top: 52px;
    }

    #single__project {
        padding: 40px;
    }

    .mission-details {
        margin: 0 0 50px 0;
    }

    .partners li {
        width: 60%;
        margin-top: 50px;
    }

    .footer__nav li {
        margin: 20px 10px 10px 10px;
    }

    .footer__details p {
        margin-bottom: 20px;
        width: 70%;
    }
}

@media screen and (max-width:476px) {
    .text {
        font-size: 15px;
    }

    .heading {
        margin: 20px 0;
    }

    .about-img,
    .mission-img,
    .vision-img,
    .single__project__img {
        width: 90%;
        height: 420px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__nav li {
        margin: 10px;
    }



}