@media screen and (max-width:1400px) {
    .container {
        width: 88%;
    }

    .hero__details {
        width: 70%;
    }

    .hero__details h3 {
        font-size: 30px;
    }

    .hero__details p {
        font-size: 20px;
        line-height: 30px;
    }

    .slider__bottom__ellipse {
        bottom: -12%;
    }

    .quiz a {
        font-size: 15px;
    }
}

@media screen and (max-width:1200px) {
    .container {
        width: 93%;
    }

    header nav ul {
        gap: 27px;
        font-size: 14px;
    }

    #details {
        padding: 20px 20px 50px 20px;
    }

    #team .swiper-slide {
        height: 390px;
    }

    .slider__bottom__ellipse {
        bottom: -10%;
    }

    .slider__top__ellipse {
        top: -12%;
    }

    .question p {
        font-size: 18px;
        line-height: 28px;
    }

}

@media screen and (max-width:1100px) {
    .container {
        width: 96%;
    }

    .logo {
        font-size: 28px;
    }

    .lists li {
        width: calc(32% - 20px);
        margin: 15px;
    }

    .sidebar__nav {
        width: 260px;
    }

    .sidebar__nav ul a li {
        font-size: 15px;
    }

    .sidebar__main {
        width: calc(100% - 260px);
    }

    .quiz {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
        transition: 0.4s ease all;
    }

    .quiz a {
        height: 42px;
    }

    #open__menu:checked~.sidebar__main .quiz {
        flex-direction: row;
        align-items: center;
        gap: 0px;
    }

}

@media screen and (max-width:992px) {


    .hero__details h3 {
        font-size: 26px;
    }


    header {
        padding: 0 20px;
    }


    header nav {
        width: 100%;
    }

    header .container {
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        background: #fff;
        gap: 0px;

    }

    header nav ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #9b9b9b2e;
        padding: 10px;
        font-size: 15px;
    }

    #label_menu {
        display: block;
        cursor: pointer;
    }

    header nav {
        position: absolute;
        top: -100%;
        left: 0;
        transform: translateY(72px);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease all;
        height: 0;
        display: block;
        gap: 0;
        /* 
        transition: 0.4s ease all;
        opacity: 0; */
    }

    #menu:checked~nav {
        opacity: 1;
        top: 0;
        visibility: visible;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
        /* 
        opacity: 1; */
    }

    .hero__details {
        width: 65%;
    }

    .hero__details h3 {
        font-size: 28px;
    }

    .hero__details p {
        font-size: 17px;
    }

    .footer__details ul {
        width: 80%;
        margin: 0 auto;
    }

    .vector__ellipse__dark {
        transform: translateY(36%);
    }

    .partners li {
        width: 60%;
        margin: 50px auto;
    }


    .slider__bottom__ellipse {
        bottom: -9%;
    }

    .slider__top__ellipse {
        top: -9%;
    }

    .sidebar__main {
        width: 100%;
    }

    .sidebar__nav {
        transform: translate(-100%);
        opacity: 0;
        position: fixed;
    }

    #open__menu:checked+.sidebar__nav {
        transition: 0.4s ease all;
        opacity: 1;
        transform: translate(0%);
        width: 50%;
    }

    #open__menu:checked~.sidebar__main .quiz {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .sidebar__nav ul {
        position: relative;
    }

    #sidebar__close {
        display: block;
        position: absolute;
        top: -29%;
        right: 10%;
        font-size: 29px;
    }

    #tutorial {
        padding: 50px 6px;
    }

}

@media screen and (max-width:790px) {
    .lists li {
        width: calc(48% - 20px);
        margin: 15px;
    }

    .text {
        font-size: 16px;
    }


    .swiper-button-prev,
    .swiper-button-next {
        width: 36px;
        height: 36px;
    }

    .button-prev::after {
        font-size: 14px;
    }

    .hero__details p {
        font-size: 16px;
    }

    .vector__bottom__green {
        transform: translateY(113%);
    }

    .about,
    .mission,
    .vision,
    #single__project {
        justify-content: center;
    }

    .about-img,
    .mission-img,
    .vision-img {
        width: 80%;
    }

    .single__project__img {
        width: 100%;
    }

    .about-details,
    .mission-details,
    .vision-details,
    .single__project__details {
        width: 85%;
        text-align: center;
        margin-top: 52px;
    }

    #single__project {
        padding: 40px;
    }

    .mission-details {
        margin: 0 0 50px 0;
    }



    .footer__nav li a {
        margin: 20px 10px 10px 10px;
    }

    .footer__details p {
        margin-bottom: 20px;
        width: 70%;
    }

    .login__img {
        width: 100%;
    }

    .register .form {
        padding: 0 0 80px;
    }

    .form {
        width: 100%;
        padding: 0px 10px 80px 9px;
    }

    #login {
        height: auto;
        overflow: hidden;
    }

    .login__ellipse {
        transform: rotate(90deg) translateX(100%);
        width: 100%;
        height: 48%;
        left: 0;
        object-fit: contain;
    }

    #team .swiper-slide {
        height: 355x;
    }


    .slider__bottom__ellipse {
        bottom: -7%;
    }

    .slider__top__ellipse {
        top: -7%;
    }

    .vector__ellipse__dark {
        top: -3%;
        transform: translateY(0%);
    }

    .register .login__img {
        height: 80vh;
    }


    .register .login__ellipse {
        transform: rotate(90deg) translateX(5%);
    }

    .register .login__img {
        position: relative;
        z-index: 1;
    }

    .banner__ellipse {
        height: 12%;

    }

    .vector__ellipse__white {
        height: 125px;
    }

    .tutorial__table {
        font-size: 14px;
    }


    .tutorial__table tbody tr td:nth-of-type(2) {
        max-width: 150px;
        width: max-content;
    }

    .tutorial__table tbody tr td:nth-of-type(3) {
        max-width: 200px;
        width: max-content;
    }

    .tutorial__table tbody tr td:nth-of-type(4) {
        max-width: 400px;
        width: max-content;
    }

    .sidebar__main .search input {
        width: 120px;
    }

    .sidebar__main .nav__login {
        font-size: 14px;
    }

    #quiz {
        padding: 40px 25px;
    }

    .blog .quiz__details p {
        font-size: 15px;
    }
}

@media screen and (max-width:540px) {
    .lists li {
        width: calc(100% - 20px);
        margin: 15px;
    }

    .slider__top__ellipse {
        top: 37%;
    }

    .vector__ellipse__dark {
        top: -1%;
    }

    .register .login__ellipse {
        transform: rotate(90deg) translateX(29%);
    }

    .vector__bottom__green {
        transform: translateY(145%);
    }

    .slider__top__ellipse {
        top: -8%;
        height: 100px;
    }

    .slider__bottom__ellipse {
        bottom: -8%;
        height: 100px;
    }

    .tutorial__table tbody tr td:nth-of-type(2) {
        max-width: auto;
    }

    .tutorial__table tbody tr td:nth-of-type(3) {
        max-width: auto;
    }

    .tutorial__table tbody tr td:nth-of-type(4) {
        max-width: auto;
    }

    .sidebar__main header {
        position: fixed;
        padding: 0 6px;
    }


    .tutorial__table {
        font-size: 10px;
    }

    .tutorial__table td {
        padding: 5px;
    }

    #pagination li {
        width: 25px;
        height: 25px;
        border-radius: 7px;
        font-size: 14px;
    }

    .page__bottom {
        font-size: 10px;
    }


    #open__menu:checked+.sidebar__nav {

        width: 70%;
    }

    #tutorial {
        padding: 90px 6px;
    }

    .search {
        padding: 8px 10px;
    }

    .circle {
        width: 15px;
        height: 15px;
        border: 2.5px solid rgba(71, 98, 81, 1);
    }

    .circle::after {
        width: 2.5px;
        height: 5px;
    }

    .menu-button i {
        font-size: 20px;
    }

    .sidebar__main .search input {
        width: 90px;
    }

    /* 
    #pagination {
        position: absolute;

        left: 50%;
        transform: translateX(-20%);
    } */

    .quiz {
        width: 100%;
    }

    .quiz a {
        font-size: 12px;
        width: 100px;
        height: 40px;
    }

    #quiz {
        padding: 100px 25px;
    }

    .question p {
        font-size: 16px;
    }

    .question__options li label span {
        font-size: 15px;
    }
}

@media screen and (max-width:476px) {

    .hero__details h3 {
        font-size: 24px;
    }

    .login__ellipse {
        height: 39%;
        transform: rotate(90deg) translateX(98%)
    }

    .vector__bottom__green {
        transform: translateY(178%);
    }


    .form form {
        width: 250px;
    }

    .login__bottom {
        font-size: 11px;
    }

    .hero__details button {
        width: 95px;
        height: 43px;
        font-size: 13px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .text {
        font-size: 15px;
    }

    .heading {
        margin: 20px 0;
    }

    .about-img,
    .mission-img,
    .vision-img {
        width: 90%;
        height: 420px;
    }

    .single__project__img {
        width: 100%;
        height: 320px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__nav li a {
        margin: 10px;
        min-width: 185px;
    }



    #list .footer__bottom {
        font-size: 12px;
    }

    /* .slider__top__ellipse {
        top: 33%;
        height: 100px;
    }

    .slider__bottom__ellipse {
        bottom: 22%;
        height: 100px;
    } */

    .register .login__ellipse {
        transform: rotate(90deg) translateX(39%);
    }

    .language {
        font-size: 12px;
    }

    .profile {
        font-size: 12px;
    }


    .tutorial__table th,
    .tutorial__table td {
        display: table-cell;
        padding: 1em;
    }

    .sidebar__main header {
        padding: 0 8px !important;
    }

    .sidebar__main .nav__login {
        gap: 5px;
        margin-left: 6px;
    }

    .profile h4 {
        text-align: right;
    }

    .profile span {
        width: 32px;
        height: 28px;
    }

    .sidebar__main .nav__login {
        width: 50%;
    }

    .sidebar__main .search input {
        width: 80px;
    }

    .sidebar__main header .container {
        gap: 10px;
    }

    #open__menu:checked+.sidebar__nav {
        width: 100%;
    }

    .page__bottom {
        background: #fff;
    }


}

@media screen and (max-width:350px) {

    /* .slider__bottom__ellipse {
        bottom: 20%;
        height: 70px;
    }

    .slider__top__ellipse {
        top: 38%;
        height: 70px;
    } */


    .vector__bottom__green {
        transform: translateY(190%);
    }

    .login__ellipse {
        height: 39%;
        transform: rotate(90deg) translateX(95%);
    }

    .profile {
        gap: 7px;
    }

    .profile span {
        width: 30px;
        height: 24px;
    }

    .nav__login {
        gap: 10px;
    }

    .language {
        font-size: 10px;
    }

    .sidebar__main .search input {
        width: 48px;
    }

    .sidebar__main .nav__login {
        margin-left: 10px;
    }

    .sidebar__main .navbar__icon {
        gap: 10px;
    }
}