@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth
}

/* Common */

.container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: inherit;
}

.heading {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px 0;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #404040;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

header nav ul {
    display: flex;
    gap: 30px;
    font-size: 16px;
    color: #404040;
    align-items: center;
}



.logo {
    color: #27BD63;
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0;
    text-align: center;
}

.down__icon {
    font-size: 12px;
}

.active {
    color: #27BD63;
}

#label_menu {
    display: none;
}

#menu {
    display: none;
}

.nav__login li:last-of-type {
    position: relative;
    cursor: pointer;
}

header nav select {
    border: 1px solid #fff;
    outline: none;
}

header nav select:focus {
    border: 1px solid #fff;
}

/* 
.languages {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    border: 1px solid gray;
    padding: 6px;
    background-color: #fff;
    border-radius: 3px;
} */

/* Hero */
#hero {
    margin-top: 72px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector__bottom__green {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transform: translateY(88%);
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.359);
    z-index: -1;
    /* border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%; */


}

.hero__details {
    color: #fff;
    text-align: center;
    width: 80%;
}

.hero__details h3 {
    font-size: 32px;
}

.line {
    height: 1px;
    width: 177px;
    background-color: #fff;
    margin: 30px auto;
}

.hero__details p {
    font-size: 24px;
    font-weight: 300;
}

.hero__details button {
    width: 100px;
    height: 50px;
    border-radius: 24px;
    background-color: #fff;
    color: #27BD63;
    font-weight: 500;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 40px;
    transition: .4s ease;
}

.hero__details button:hover {
    background-color: #27BD63;
    color: #fff;
}


.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.3);
    width: 46px;
    height: 46px;
    color: #fff;
    border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}

.swiperr {
    background-color: #E8F3EC;
    /* max-height: 1000px; */
    height: 100vh;
    position: relative;
}

.swiper-pagination {
    bottom: 40px !important;
}

.swiper-pagination-bullet-active {
    background-color: #27BD63;
}

.swiperr .swiper-slide {
    height: 100%;
}

/* About */
.bg__green {
    background: #E8F3EC;
    padding: 60px 0;
    position: relative;
}

.vector__ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transform: translateY(28%);
}


#about {
    padding: 60px 0;
    z-index: 3;
    position: relative;
}

#mission {
    padding: 60px 0 90px;
}

.about,
.mission,
.vision {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-img,
.mission-img,
.vision-img {
    width: 45%;
    height: 370px;
}

.about-img img,
.mission-img img,
.vision-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.about-details,
.mission-details,
.vision-details {
    width: 45%;
}

.vision-details {
    padding-bottom: 60px;
}

/* Partners */
#partners {
    padding: 70px 0 50px 0;
    position: relative;
    z-index: 3;
}

.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partners li {
    text-align: center;
}

.partners li img {
    height: 113px;
    object-fit: contain;
    margin: 30px auto;
    width: 90%;
}

.partners .swiper-wrapper {
    justify-content: space-around;
}

/* Team */

.bg__gray {
    padding: 60px 0 150px 0;
    background: rgba(247, 247, 247, 1);
    position: relative;
}


.vector__ellipse__white {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transform: translateY(51%);
}

.vector__top__ellipse__white {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transform: translateY(-60%);
}

#team {
    position: relative;
    /* z-index: 6; */
    padding: 60px 0;
}

#team .swiper {
    position: relative;
    z-index: 1;
}

#team .text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#team .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#team .swiper-slide {
    height: 450px;
}

.team__head {
    position: relative;
    z-index: 6;
}

.slider__bottom__ellipse {
    position: absolute;
    bottom: 17%;
    left: 0;
    z-index: 5;
    /* transform: translateY(-100%); */
    width: 100%;
}

.slider__top__ellipse {
    position: absolute;
    top: 23%;
    left: 0;
    z-index: 4;

    /* transform: translateY(152%); */
    width: 100%;
}

.swiper {
    width: 100%;
    max-width: 1400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
}

.swiper-details {
    text-align: center;
    padding: 10px;
}

/* Mission and Vision*/
#mission,
#vision {
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.vector__ellipse__green {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transform: translateY(69%);
}


.mission__left {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70px;
    color: #F7F7F7;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-90deg) translate(-50%, 130%);
    z-index: -1;
    user-select: none;
}

.mission-img,
.vision-img {
    position: relative;
    z-index: 0;
}

.mission__img__text {
    color: #F7F7F7;
    right: 20px;

}

.vision__img__text {
    content: 'vision';
    color: #40404033;
    left: 20px;
}


.mission__img__text,
.vision__img__text {
    position: absolute;
    bottom: 0;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 2;
    user-select: none;
}

.mission-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000036;
    z-index: 1;
}

.vision__left,
.vision__right {
    position: absolute;
    font-size: 214px;
    color: #40404005;
    text-transform: uppercase;
}

.vision__left {
    top: 0;
    left: -15%;
}

.vision__right {
    bottom: 0;
    right: -15%;
}

/* Footer */

#footer {
    background: #E8F3EC;
    position: relative;
    /* padding-top: 80px; */
    z-index: 3;
}

.vector__ellipse__dark {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 2;
    width: 100%;
    /* transform: translateY(19%); */
}



.bg__dark {
    background: #353836;
    padding: 90px 0 40px 0;
}

.footer__details {
    text-align: center;
    position: relative;
    z-index: 3;
}

.footer__details p {
    color: #F2F2F2;
    width: 50%;
    margin: 0 auto;
}

.footer__details ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__nav li {
    width: max-content;
    padding: 10px 24px;
    height: 50px;
    border: 1px solid #969696;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin: 30px 10px 10px 10px;
    color: #fff;
}

.footer__socials li {
    display: flex;
    margin: 20px;
    color: #fff;
}

.footer__socials li:first-of-type i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    color: #353836;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.footer__socials li i {
    font-size: 19px;
    margin-right: 9px;
}

.footer__register button {
    width: max-content;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    margin: 20px 10px;
}

.footer__register button:first-of-type {
    border: 1px solid #fff;
    background-color: transparent;
}

.footer__register button:last-of-type {
    background-color: #27BD63;
    border: 1px solid #27BD63;
}

.footer__bottom {
    font-size: 14px;
    color: #F2F2F2;
    margin-top: 80px;
}

.footer__bottom span {
    color: #27BD63;
}

/* Details Page */

/* Single Project */
#single__project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 72px;
    padding: 60px;
}

.single__project__img {
    width: 50%;
    height: 520px;
}

.single__project__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single__project__details {
    width: 40%;
}

.single__project__details h2 {
    font-size: 32px;
    color: rgba(64, 64, 64, 1);
}

.single__project__details span {
    font-weight: 200;
    font-size: 24px;
    margin: 14px 0 50px;
    display: inline-block;
}

.single__project__details button {
    border-radius: 24px;
    padding: 15px 50px;
    margin: 40px 0;
    background-color: #27BD63;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

/* Details */
#details {
    padding: 70px 0;
}

#details .text ul li ul li {
    list-style: disc;
    margin-left: 20px;
}

#details .text>ul>li {
    margin: 20px 0;
}

.details__bottom {
    color: rgba(21, 141, 69, 1);
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}

/* Banner */
#banner {
    height: 80vh;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 60px;
}


/* Login Page */
#login {
    height: 120vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* margin-bottom: 60px; */
}

.register#login {
    height: 100%;
}

.register .form {
    padding: 80px 0 100px;
}

.register .login__img {
    height: auto;
}

.login__ellipse {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-30%);
    z-index: 1;
    height: 100%;
}

.login__img {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.login__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login__img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 189, 99, 0.2);
    z-index: 1;
}

.form {
    width: 50%;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.form form {
    width: 300px;
}


.form p {
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
}

.login__input {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
    height: 40px;
    margin: 10px 0 20px;
    width: 100%;
    padding: 0 30px;
    font-size: 17px;
}

.login__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.form a {
    color: rgba(5, 143, 243, 1);
    border-bottom: 1px solid rgba(5, 143, 243, 1);
    padding-bottom: 1px;
    font-weight: 500;
}

.form input[type="submit"] {
    width: 100%;
    background-color: #27BD63;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    height: 40px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.register input[type="submit"] {
    margin-top: 20px;
}

.register {
    margin-bottom: 20px;
}

.form form>a {
    color: #27BD63;
    border-bottom: 1px solid #27BD63;
    margin: 15px auto;
    display: block;
    width: max-content;
}

/* List Page */
#list {
    margin-top: 72px;
}

#list h4 {
    color: rgba(64, 64, 64, 1);
    font-size: 16px;
    padding: 30px 0 15px 15px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.lists li {
    width: calc(24% - 20px);
    margin: 15px;
    border: 1px solid rgba(217, 217, 217, 1);
}

.list__img {
    width: 100%;
    height: 150px;
}

.list__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.list__details h5 {
    color: rgba(64, 64, 64, 1);
    font-size: 16px;
}


.list__details p {
    color: rgba(64, 64, 64, 1);
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}

.list__details span i {
    cursor: pointer;
}

#list .footer__bottom {
    color: rgba(64, 64, 64, 1);
    padding: 30px 0px 30px 15px;
    font-weight: 400;
}